<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Fluxo de Caixa</title>

    <!-- Adicionando CSS do DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

    <!-- Incluindo o jQuery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Incluindo o JS do DataTables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <style>
        .filters {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <nav style="background-color: aquamarine !important;" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{%url 'home'%}">Fluxo de Caixa</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{%url 'receitas'%}">Receitas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{%url 'despesas'%}">Despesas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{%url 'contas'%}">Contas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{%url 'categorias'%}">Categorias</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{%url 'admin:index'%}">Configurações</a>
              </li>
            </ul>
            <ui class="navbar-nav ms-auto">
              <li class="nav-item">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link nav-link">
                        Logout
                    </button>
                </form>
              </li>
            </ui>
          </div>
        </div>
      </nav>
<div class="container">
    <h1>Lista de Despesas</h1>
    <h3>Baixe o template para importar suas despesas:</h3>
    <a href="{% url 'download_template_excel' %}" download="template_despesas.xlsx">Baixar Template Excel</a>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Importar Despesas:</label>
        <input type="file" name="file" accept=".csv, .xlsx" />
        <button type="submit">Importar</button>
    </form>
    <form action="{% url 'despesas' %}" method="post">
        {% csrf_token %}
        <div style="text-align: center;" class="container">
            <h1>Despesas</h1>
    
            <div class="form-group">
                <label for="data">Data</label>
                <input type="date" id="data" name="data" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="conta">Conta</label>
                <select name="conta" id="conta" class="form-control" required>
                    {% for conta in contas %}
                    <option value="{{ conta.conta }}" data-vencimento="{{ conta.data_vencimento }}" data-fechamento="{{ conta.data_fechamento }}">{{ conta.conta }}</option>
                    {% empty %}
                    <option value="">Nenhuma conta disponível</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="tipo">Tipo</label>
                <select name="tipo" id="tipo" class="form-control" required>
                    <option value="Crédito">Crédito</option>
                    <option value="Débito">Débito</option>
                </select>
            </div>


            <div class="form-group">
                <label for="vencimento">Vencimento</label>
                <input type="date" id="vencimento" name="vencimento" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="valor">Valor</label>
                <input type="number" id="valor" name="valor" step="0.01" class="form-control" required>
            </div>
    
            <div class="form-group">
                <label for="categoria">Categoria</label>
                <select name="categoria" id="categoria" class="form-control" required>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.categoria }}">{{ categoria.categoria }}</option>
                    {% empty %}
                        <option value="">Nenhuma categoria disponível</option>
                    {% endfor %}
                </select>
            </div>
    
            <div class="form-group">
                <label for="observacao">Observação</label>
                <input type="text" id="observacao" name="observacao" class="form-control">
            </div>
            <h1> </h1>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
    <table id="tabelaDespesas" class="table table-striped">
    <thead>
        <tr>
            <th>Selecionar</th>
            <th>Data</th>
            <th>Conta</th>
            <th>Tipo</th>
            <th>Vencimento</th>
            <th>Valor</th>
            <th>Categoria</th>
            <th>Observação</th>
        </tr>
    </thead>
    <tbody>
    {% if despesas %}
        {% for despesa in despesas %}
            <tr>
                <td><input type="checkbox" name="despesas_selecionadas" value="{{ despesa.id_despesa }}"></td> <!-- Checkbox para seleção -->
                <td>{{ despesa.data|date:"d/m/Y"}}</td>
                <td>{{ despesa.conta }}</td>
                <td>{{ despesa.tipo }}</td>
                <td>{{ despesa.vencimento|date:"d/m/Y" }}</td>
                <td>{{ despesa.valor }}</td>
                <td>{{ despesa.categoria }}</td>
                <td>{{ despesa.observacao }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="8">Nenhuma despesa cadastrada.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div style="text-align: center;">
    <button type="submit" class="btn btn-danger" id="btnRemoverSelecionadas">Remover Selecionadas</button>
</div>
{% endif %}

</div>

<script>
    $(document).ready(function() {
        // Inicializando o DataTable
        // Verifica se a tabela tem ao menos uma linha de dados
        if ($('#tabelaDespesas tbody tr').length > 0) {
            $('#tabelaDespesas').DataTable();
        }
        

        function calcularDataFechamento() {
            var dataTransacao = document.getElementById('data').value; // Data transação
            var contaSelecionada = document.getElementById('conta'); // Conta selecionada
            var dataVencimentoConta = contaSelecionada.options[contaSelecionada.selectedIndex].getAttribute('data-vencimento'); // Dia vencimento
            var dataFechamentoConta = contaSelecionada.options[contaSelecionada.selectedIndex].getAttribute('data-fechamento'); // Dias fechamento
            
            var dataTransacao = new Date(dataTransacao); // Converte a data da transação para objeto Date
            var diaFechamento = parseInt(dataFechamentoConta, 10); // Convertendo para inteiro
            var diaVencimento = parseInt(dataVencimentoConta, 10); // Convertendo para inteiro

            // 1. Ajustar a data da transação para o primeiro dia do mês, garantindo que é no horário UTC
            dataTransacao.setUTCDate(1); // Ajusta para o primeiro dia do mês em UTC
            // Se o ajuste para o primeiro dia causar o mês errado, corrigir manualmente
            if (dataTransacao.getUTCDate() !== 1) {
                dataTransacao.setUTCMonth(dataTransacao.getUTCMonth() + 1);
                dataTransacao.setUTCDate(1);
            }
            
            // 2. Adicionar 1 mês à data da transação (em UTC)
            dataTransacao.setUTCMonth(dataTransacao.getUTCMonth() + 1);
            
            // 3. Substituir o dia da data pela data de vencimento
            dataTransacao.setUTCDate(diaVencimento);
            
            // 4. Subtrair os dias de fechamento
            dataTransacao.setUTCDate(dataTransacao.getUTCDate() - diaFechamento);
            
            // 5. Verificar se a data de fechamento caiu no final de semana (sábado ou domingo)
            var diaSemana = dataTransacao.getUTCDay(); // 0 = domingo, 6 = sábado
            if (diaSemana === 0) { // Se for domingo
                dataTransacao.setUTCDate(dataTransacao.getUTCDate() - 2); // Avançar para a sexta-feira
            } else if (diaSemana === 6) { // Se for sábado
                dataTransacao.setUTCDate(dataTransacao.getUTCDate() - 1); // Avançar para a sexta-feira
            }
            
            // 6. Retorna a data final de fechamento
            return dataTransacao;
        }


        function calcularDataVencimento() {
            var dataTransacao = document.getElementById('data').value; // Data transação
            var tipo = document.getElementById('tipo').value; // Tipo (Débito ou Crédito)
            var contaSelecionada = document.getElementById('conta'); // Conta selecionada
            var dataVencimentoConta = contaSelecionada.options[contaSelecionada.selectedIndex].getAttribute('data-vencimento'); // Dia vencimento

            var dataTransacao = new Date(dataTransacao); // Converte a data da transação para objeto Date
            var dataFechamento = calcularDataFechamento(); // Calcula a data de fechamento

            // 1. Se o tipo for "Débito", a data de vencimento é a mesma da data de transação
            if (tipo === "Débito") {
                dataTransacao.setUTCMinutes(0);  // Garantir que minutos sejam 0 (corrigindo qualquer possível valor extra)
                document.getElementById('vencimento').value = dataTransacao.toISOString().split('T')[0];
            }

            // 2. Se o tipo for "Crédito", verifica se a data da transação é menor que a data de fechamento
            if (tipo === "Crédito") {
                var dataVencimento = new Date(dataFechamento); // Começa com a data de fechamento
                
                // Se a data da transação for menor que a data de fechamento, adiciona 1 mês
                if (dataTransacao <= dataFechamento) {
                    dataVencimento.setUTCMonth(dataVencimento.getUTCMonth() + 1); // Adiciona 1 mês
                } else { // Se a data da transação for maior ou igual à data de fechamento, adiciona 2 meses
                    dataVencimento.setUTCMonth(dataVencimento.getUTCMonth() + 2); // Adiciona 2 meses
                }
                // verifica se o dia de vencimento é igual ao dia de fechamento para nao pular o mes
                //caso seja, volta um mes
                if (dataVencimento.getUTCDate() != dataFechamento.getUTCDate()) {
                    dataVencimento.setUTCMonth(dataVencimento.getUTCMonth() - 1); // Adiciona 1 mês
                }
                
                // 3. Substitui o dia da data pelo dia de vencimento
                dataVencimento.setUTCDate(parseInt(dataVencimentoConta,10)); // Define o dia como o dia de vencimento


                // Atualiza o campo de vencimento
                document.getElementById('vencimento').value = dataVencimento.toISOString().split('T')[0];
            }
        }

        // Acionando o cálculo de vencimento quando a conta, tipo ou data forem alteradas
        document.getElementById('data').addEventListener('change', calcularDataVencimento);
        document.getElementById('tipo').addEventListener('change', calcularDataVencimento);
        document.getElementById('conta').addEventListener('change', calcularDataVencimento);


        // Evento de clique no botão de remover
        $('#btnRemoverSelecionadas').click(function(e) {
        e.preventDefault(); // Evita o envio imediato do formulário

        // Cria um array para armazenar os IDs das despesas selecionadas
        var despesasSelecionadas = [];
        
        // Itera sobre todos os checkboxes marcados
        $('input[name="despesas_selecionadas"]:checked').each(function() {
            despesasSelecionadas.push($(this).val()); // Adiciona o ID ao array
        });

        // Verifica se há pelo menos uma despesa selecionada
        if (despesasSelecionadas.length > 0) {
            // Cria um formulário oculto para enviar os dados via POST
            var form = $('<form>', {
                method: 'POST',
                action: '{% url "remover_despesas" %}'  // URL para remover as despesas
            });

            // Adiciona o token CSRF ao formulário
            form.append($('<input>', {
                type: 'hidden',
                name: 'csrfmiddlewaretoken',
                value: '{{ csrf_token }}'
            }));

            // Adiciona os IDs das despesas ao formulário
            despesasSelecionadas.forEach(function(id) {
                form.append($('<input>', {
                    type: 'hidden',
                    name: 'despesas',
                    value: id
                }));
            });

            // Envia o formulário
            form.appendTo('body').submit();
        } else {
            alert('Nenhuma despesa selecionada para remoção.');
        }
    });
    });
</script>

<!-- Optional JavaScript; choose one of the two! -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
