<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Fluxo de Caixa</title>

    <!-- Adicionando CSS do DataTables -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
    />

    <!-- Incluindo o jQuery -->
    <script
      type="text/javascript"
      charset="utf8"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>

    <!-- Incluindo o JS do DataTables -->
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"
    ></script>

    <style>
      .filters {
        margin-bottom: 20px;
      }

      /* Melhorando a visualização do formulário */
      .form-group {
        margin-bottom: 15px;
      }

      .table-responsive {
        margin-top: 20px;
      }

      /* Botão de Remover Selecionadas */
      #btnRemoverSelecionadas {
        background-color: #dc3545;
        color: white;
        margin-top: 15px;
      }

      #btnRemoverSelecionadas:hover {
        background-color: #c82333;
      }

      /* Adicionando a responsividade à tabela */
      .table-responsive {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <nav
      style="background-color: aquamarine !important"
      class="navbar navbar-expand-lg navbar-light bg-light"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'home'%}">Fluxo de Caixa</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{%url 'home'%}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'receitas'%}">Receitas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'despesas'%}">Despesas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'contas'%}">Contas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'categorias'%}">Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'admin:index'%}">Configurações</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link">
                  Logout
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1 class="my-4">Cadastro de Receita</h1>

      <form action="{% url 'receitas' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="data">Data</label>
          <input
            type="date"
            id="data"
            name="data"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="conta">Conta</label>
          <select name="conta" id="conta" class="form-control" required>
            {% for conta in contas %}
            <option value="{{conta.conta}}">{{conta.conta}}</option>
            {% empty %}
            <option value="">Nenhuma conta disponível</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="valor">Valor</label>
          <input
            type="number"
            id="valor"
            name="valor"
            step="0.01"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="categoria">Categoria</label>
          <select name="categoria" id="categoria" class="form-control" required>
            {% for categoria in categorias %}
            <option value="{{ categoria.categoria }}">
              {{ categoria.categoria }}
            </option>
            {% empty %}
            <option value="">Nenhuma categoria disponível</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="observacao">Observação</label>
          <input
            type="text"
            id="observacao"
            name="observacao"
            class="form-control"
          />
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>

      <h2 class="my-4">Lista de Receitas</h2>

      <div class="table-responsive">
        <table id="tabelaReceitas" class="table table-striped">
          <thead>
            <tr>
              <th>Selecionar</th>
              <th>Data</th>
              <th>Conta</th>
              <th>Valor</th>
              <th>Categoria</th>
              <th>Observação</th>
            </tr>
          </thead>
          <tbody>
            {% if receitas %} {% for receita in receitas %}
            <tr>
              <td>
                <input
                  type="checkbox"
                  name="receitas_selecionadas"
                  value="{{ receita.id_receita }}"
                />
              </td>
              <td>{{ receita.data|date:"d/m/Y" }}</td>
              <td>{{ receita.conta }}</td>
              <td>{{ receita.valor }}</td>
              <td>{{ receita.categoria }}</td>
              <td>{{ receita.observacao }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6">Nenhuma receita cadastrada.</td>
            </tr>
            {% endfor %} {% endif %}
          </tbody>
        </table>
      </div>

      {% if receitas %}
      <div style="text-align: center">
        <button type="submit" class="btn" id="btnRemoverSelecionadas">
          Remover Selecionadas
        </button>
      </div>
      {% endif %}
    </div>

    <script>
      $(document).ready(function () {
        // Inicializando o DataTable
        // Verifica se a tabela tem ao menos uma linha de dados
        if ($("#tabelaReceitas tbody tr").length > 0) {
          $("#tabelaReceitas").DataTable();
        }
        // Filtro para Categoria
        $("#filterCategoria").on("keyup", function () {
          table.column(3).search(this.value).draw(); // Coluna "Categoria"
        });

        // Filtro para Conta
        $("#filterConta").on("keyup", function () {
          table.column(1).search(this.value).draw(); // Coluna "Conta"
        });

        // Evento de clique no botão de remover
        $("#btnRemoverSelecionadas").click(function (e) {
          e.preventDefault(); // Evita o envio imediato do formulário

          // Cria um array para armazenar os IDs das receitas selecionadas
          var receitasSelecionadas = [];

          // Itera sobre todos os checkboxes marcados
          $('input[name="receitas_selecionadas"]:checked').each(function () {
            receitasSelecionadas.push($(this).val()); // Adiciona o ID ao array
          });

          // Verifica se há pelo menos uma despesa selecionada
          if (receitasSelecionadas.length > 0) {
            // Cria um formulário oculto para enviar os dados via POST
            var form = $("<form>", {
              method: "POST",
              action: '{% url "remover_receitas" %}', // URL para remover as receitas
            });

            // Adiciona o token CSRF ao formulário
            form.append(
              $("<input>", {
                type: "hidden",
                name: "csrfmiddlewaretoken",
                value: "{{ csrf_token }}",
              })
            );

            // Adiciona os IDs das receitas ao formulário
            receitasSelecionadas.forEach(function (id) {
              form.append(
                $("<input>", {
                  type: "hidden",
                  name: "receitas",
                  value: id,
                })
              );
            });

            // Envia o formulário
            form.appendTo("body").submit();
          } else {
            alert("Nenhuma receitas selecionada para remoção.");
          }
        });
      });
    </script>

    <!-- Optional JavaScript; choose one of the two! -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
